<div class="container beer-cards">
  <div class="row" ng-if="listCtrl.loading">
    <div class="col s12 loading">
      <div class="preloader-wrapper big active center-align">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <p class="center-align red-text loading-text">Tapping the kegs...</p>
  </div>
  <div class="row" ng-repeat="checkin in listCtrl.checkIns">
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="col m9 s12">
              <span class="card-title"><strong>{{checkin.beer.beer_name}}</strong> <a href="" data-target="modal-photo-{{$index}}" modal ng-if="checkin.media.count"><i class="material-icons" style="vertical-align: middle; margin-left: 10px; margin-bottom: 3px;">camera_alt</i></a></span>
              <p>{{checkin.brewery.brewery_name}}</p>
              <p>{{checkin.beer.beer_style}} <span class="grey-text">({{checkin.beer.beer_abv}}% abv)</p>
              <a href="" data-target="modal{{$index}}" modal ng-if="checkin.venue.venue_name"><i class="tiny material-icons">location_on</i> {{checkin.venue.venue_name}}</a>
              <p>{{checkin.created_at | dateFormat | date:'longDate'}}</p>
              <blockquote>{{checkin.checkin_comment}}</blockquote>
            </div>
            <div class="col m3 s12">
              <img ng-if="checkin.beer.beer_label | noStockPhoto" src="{{checkin.beer.beer_label | noStockPhoto}}" alt="beer" class="responsive-img">
            </div>
            <div class="col s12">
              <p ng-if="checkin.rating_score > 0">My score: <span class="stars-container stars-{{checkin.rating_score * 20}}">★★★★★</span></p>
              <br>
              <div class="chip" ng-repeat="badge in checkin.badges.items">
                <img src="{{badge.badge_image.sm}}" alt="badge">
                {{badge.badge_name}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="modal{{$index}}" class="modal" ng-if="checkin.venue.venue_name">
        <div class="modal-content center-align">
          <h4>{{checkin.venue.venue_name}}</h4>
          <img class="responsive-img" src="https://maps.googleapis.com/maps/api/staticmap?center={{checkin.venue.location.lat}},{{checkin.venue.location.lng}}&zoom=12&size=600x300&maptype=roadmap&markers=color:blue%7C{{checkin.venue.location.lat}},{{checkin.venue.location.lng}}&key=AIzaSyCJFMlJMIdwv3cTxbHhOFYR2Z8obJlINes" alt="">
        </div>
      </div>
      <div id="modal-photo-{{$index}}" class="modal" ng-if="checkin.media.count">
        <div class="modal-content center-align">
          <h4>{{checkin.venue.venue_name}}</h4>
          <img class="responsive-img" src="{{checkin.media.items[0].photo.photo_img_lg}}">
        </div>
      </div>
    </div>
  </div>
  <div ng-if="listCtrl.error">
    <div class="row">
      <div class="col s12">
        <h3 class="header">{{listCtrl.error}}</h3>
      </div>
    </div>
  </div>
</div>
